<div class="container">
  <div class="canvas-container">
    <p class="info">Narysuj emocje: </p>
    <canvas id="canvas" width="200" height="200"></canvas>
  </div>
  <div class="emotion-container" *ngIf="!simpleDraw">
    <div class="emotion" (click)="selectEmotion(emotions.smile)" [ngClass]="{'active': currentEmotion.name === emotions.smile.name}">
      <img src="../../../assets/emotions/smile.svg"/>
    </div>
    <div class="emotion" (click)="selectEmotion(emotions.shocked)" [ngClass]="{'active': currentEmotion.name === emotions.shocked.name}">
      <img src="../../../assets/emotions/shocked.svg"/>
    </div>
    <div class="emotion" (click)="selectEmotion(emotions.sad)" [ngClass]="{'active': currentEmotion.name === emotions.sad.name}">
      <img src="../../../assets/emotions/sad.svg"/>
    </div>
    <div class="emotion" (click)="selectEmotion(emotions.sceptic)" [ngClass]="{'active': currentEmotion.name === emotions.sceptic.name}">
      <img src="../../../assets/emotions/sceptic.svg"/>
    </div>
  </div>
  <p class="loader" *ngIf="isLoading">
    Trwa przetwarzanie...
  </p>
</div>
