<p class="return" [routerLink]="['']">
  Menu
</p>
<p class="next" [routerLink]="['/training']">
  Trening
</p>
<div class="title">
  <h1>Rozpoznawanie</h1>
</div>
<div class="container">
  <div class="panel">
    <app-canvas-draw
      [clear]="triggerClear"
      [save]="triggerSave"
      [simpleDraw]="true"
      (onSave)="processData($event)">
    </app-canvas-draw>
  </div>
  <div class="panel">
    <div class="list-container">
      <div class="result">
        <ng-container [ngSwitch]="currentEmoticon">
          <div class="icon" *ngSwitchCase="'smile'">
            <img src="../../../assets/emotions/smile.svg"/>
          </div>
          <div class="icon" *ngSwitchCase="'sad'">
            <img src="../../../assets/emotions/sad.svg"/>
          </div>
          <div class="icon" *ngSwitchCase="'sceptic'">
            <img src="../../../assets/emotions/sceptic.svg"/>
          </div>
          <div class="icon" *ngSwitchCase="'shocked'">
            <img src="../../../assets/emotions/shocked.svg"/>
          </div>
          <div class="icon no-result" *ngSwitchDefault>
            <p>Brak rezultatu</p>
          </div>
        </ng-container>
      </div>
      <div class="menu-container">
        <button (click)="train()" [disabled]="notReadData">
          Trenuj!
        </button>
        <button [disabled]="true">
          Wczytaj dane z pliku
        </button>
        <button (click)="readTemporary()">
          Wczytaj dane tymczasowe
        </button>
      </div>
    </div>
  </div>
</div>
<div class="buttons-container">
  <div class="button">
    <button class="btn" (click)="emitSave()" [disabled]="noLearned">
      Sprawdź
    </button>
  </div>
  <div class="button">
    <button class="btn" (click)="clearCanvas()">
      Wyczyść płótno
    </button>
  </div>
</div>
<div *ngIf="isTraining" class="loader">
  <h1>Trwa trenowanie...</h1>
</div>
